@import "../../../assets/less/overrides.less";

@ll-unit-border: 1px solid @theme-dark;

.dashboard-main {
    .dashboard-header {
        padding: 10px 0;
        h1 {
            margin-top: 0;
        }
        .nav, .input-group, .auto-refresh {
            display: inline-block;
            vertical-align: middle;
        }
        .input-group {
            margin-left: 10px;
            .form-control {
                width: 360px;
            }
            .input-group-btn {
                width: auto;
            }
        }
        .auto-refresh {
            line-height: 32px;
            padding: @nav-link-padding;
            & > span {
                padding-left: 5px;
                vertical-align: top;
            }
        }
    }
    .dashboard-content {
        .columns {
            & > li {
                margin-bottom: 10px;
                vertical-align: top;
                width: 400px;
                .unit-container {
                    border: @ll-unit-border;
                    margin: 0;
                    .panel-footer {
                        font-size: 0.7em;
                        padding: 5px 15px;
                    }
                }
            }
        }
    }
}
