<div class="dashboard-main">
    <div class="dashboard-header">
        <div class="container-fluid">
            <h1><img src="assets/images/coreos.png"> <span>Fleet Dashboard</span></h1>
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{'active': vm.query.view==='machine'}">
                    <a ng-click="vm.onMachineViewModeClick()">Machines <span class="badge">{{vm.machines.length}}</span></a>
                </li>
                <li role="presentation" ng-class="{'active': vm.query.view==='unit'}">
                    <a ng-click="vm.onUnitViewModeClick()">Units <span class="badge">{{vm.units.length}}</span></a>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control"
                       ng-model="vm.query.keywords" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
                       ng-change="vm.onKeywordsChange()" placeholder="Enter keywords...">
                <span ng-if="vm.query.keywords.length>0" class="input-group-btn">
                    <button class="btn btn-default" ng-click="vm.onClearKeywordsClick()">&times;</button>
                </span>
            </div>
            <div class="auto-refresh" ng-click="vm.onAutoRefreshClick()">
                <i class="fa fa-lg" ng-class="(vm.autoRefresh.enabled ? 'fa-check-square' : 'fa-square')"></i> <span>Auto-refresh</span>
            </div>
        </div>
    </div>
    <div class="dashboard-content">
        <div class="container-fluid">
            <ul class="list-unstyled list-inline columns" ng-if="vm.query.view==='unit'">
                <li ng-repeat="u in vm.units | filter:vm.unitFilter | orderBy:'name'">
                    <div class="unit-container panel panel-default">
                        <div class="panel-body">
                            <ll-unit model="u"></ll-unit>
                        </div>
                        <div class="panel-footer" ng-if="u.machine">
                            <a ng-click="vm.onUnitMachineClick(u)"><i class="fa fa-sitemap"></i> {{u.machine.primaryIP}}</a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="list-unstyled list-inline columns" ng-if="vm.query.view==='machine'">
                <li ng-repeat="m in vm.machines | filter:vm.machineFilter | orderBy:'primaryIP'">
                    <ll-machine model="m"></ll-machine>
                </li>
            </ul>
        </div>
    </div>
</div>
