<div class="dashboard-main">
    <div class="dashboard-header">
        <div class="container-fluid">
            <h1><img src="assets/images/coreos.png"> <span>Fleet Dashboard</span></h1>
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{'active': vm.query.view==='machine'}">
                    <a ng-click="vm.onMachineViewModeClick()">Machines <span class="badge">{{vm.machines.length}}</span></a>
                </li>
                <li role="presentation" ng-class="{'active': vm.query.view==='unit'}">
                    <a ng-click="vm.onUnitViewModeClick()">Units <span class="badge">{{vm.units.length}}</span></a>
                </li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control"
                       ng-model="vm.query.keywords" ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
                       ng-change="vm.onKeywordsChange()" placeholder="Enter keywords...">
                <span ng-if="vm.query.keywords.length>0" class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="vm.onClearKeywordsClick()"><i class="fa fa-lg fa-times"></i></button>
                </span>
            </div>
            <div class="auto-refresh" ng-click="vm.onAutoRefreshClick()">
                <i class="fa fa-lg fa-fw" ng-class="(vm.autoRefresh.enabled ? 'fa-check-square' : 'fa-square-o')"></i> Auto-refresh
            </div>
        </div>
    </div>
    <div class="dashboard-content">
        <div class="container-fluid">
            <div class="columns" ng-if="vm.query.view==='unit'">
                <div ng-repeat="u in vm.units | filter:vm.unitFilter | orderBy:'name'">
                    <div class="unit-container panel panel-default">
                        <div class="panel-body">
                            <ll-unit model="u" on-machine-click="vm.onUnitMachineClick(machine)"></ll-unit>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns" ng-if="vm.query.view==='machine'">
                <div ng-repeat="slot in vm.machineSlots | filter:vm.machineFilter | orderBy:'order' track by slot.order"
                    ng-drop="true" ng-drop-success="vm.onDropComplete(slot, $data)">
                    <ll-machine ng-if="slot.machineId" model="vm.machines[slot.machineId]" expanded="slot.expanded"
                                ng-drag="true" ng-drag-data="slot"></ll-machine>
                </div>
            </div>
        </div>
    </div>
</div>
