@import "../../../assets/less/overrides.less";

@ll-unit-border: 1px solid @theme-dark;

.dashboard-main {
    .dashboard-header {
        .nav, .input-group, .refresh {
            display: inline-block;
            vertical-align: middle;
        }
        .input-group {
            margin-left: 10px;
            width: 400px;
            .form-control {
                width: 300px;
            }
        }
        .auto-refresh {
            float: right;
            line-height: 32px;
            padding: @nav-link-padding;
            & > span {
                padding-left: 5px;
                vertical-align: top;
            }
        }
    }
    .dashboard-content {
        padding: 20px 0;
        .columns {
            & > li {
                margin-bottom: 10px;
                vertical-align: top;
                width: 400px;
                .unit-container {
                    border: @ll-unit-border;
                    margin: 0;
                }
            }
        }
    }
}
