@import "../../../assets/less/overrides.less";

@ll-unit-border: 1px solid @gray;

.dashboard-main {
    .dashboard-header {
        padding: 10px 0;
        h1 {
            margin-top: 0;
            img {
                height: 40px;
                width: 40px;
            }
            & > * {
                vertical-align: bottom;
            }
        }
        .toolbar {
            display: inline-flex;
            justify-content: space-between;
            white-space: nowrap;
            & > * {
                align-self: center;
            }
            .input-wrapper {
                position: relative;
                margin-left: 10px;
                width: 360px;
                input {
                    padding-right: 25px;
                }
                .clear {
                    position: absolute;
                    right: 7px;
                    top: 7px;
                }
            }
            .auto-refresh {
                line-height: 32px;
                padding: @nav-link-padding;
                & > i {
                    color: @brand-secondary;
                }
            }
        }
    }
}
