.view-unit {
  .table {
    & > thead {
      & > tr {
        & > th:first-child {
          width: 3em;
        }
      }
    }
    & > tbody {
      & > tr {
        .label {
          font-size: 90%;
        }
        &:hover {
          cursor: pointer;
        }
        & > td:first-child, {
          text-align: center;
          width: 3em;
        }
      }
    }
  }
}