<div class="view-machine">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Primary IP</th>
            <th># Units</th>
            <th>ID</th>
            <th ng-repeat="header in vm.metadataHeaders">{{header}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="machine in vm.machines | filter:vm.machineFilter | orderBy:'primaryIP' track by machine.id"
            ng-click="vm.onUnitMachineClick($event, machine)">
            <td>{{machine.primaryIP}}</td>
            <td>{{machine._units.length}}</td>
            <td>{{machine.id}}</td>
            <td ng-repeat="header in vm.metadataHeaders">{{machine.metadata[header]}}</td>
        </tr>
        </tbody>
    </table>
</div>
