<div class="view-unit">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Hash</th>
            <th>Machine IP</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="unit in vm.units | filter:vm.unitFilter | orderBy:'name' track by (unit.name+unit.machineID)"
                ng-click="vm.onUnitFileClick(unit._file, unit._timers[0]._file)">
            <td><i class="{{unit | llUnitIconClass}}"></i></td>
            <td>{{unit.name}}</td>
            <td>{{unit.hash}}</td>
            <td><a ng-click="vm.onUnitMachineClick($event, unit._machine)">{{unit._machine.primaryIP}}</a></td>
            <td>
                <div class="status-wrapper">
                    <span ng-if="unit._timers" class="label label-{{unit._timers[0] | llUnitStatusClass}}">{{unit._timers[0] | llUnitSubState}}</span>
                    <span class="label label-{{unit | llUnitStatusClass}}">{{unit | llUnitSubState}}</span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
