<div class="ll-machine" ng-class="{'expanded': vm.expanded}">
    <div class="panel panel-default summary-{{vm.model | llMachineSummaryState}}">
        <div class="panel-heading">
            <i class="{{vm.model | llMachineIconClass}}"></i> {{vm.model.primaryIP}}
            <span class="pull-right badge badge-default">{{vm.model.units.length}}</span>
        </div>
        <div class="panel-body machine-meta">
            <dl class="dl-horizontal">
                <dt ng-repeat-start="(k, v) in vm.model.metadata">{{k | llHumanize}}</dt>
                <dd ng-repeat-end>{{v}}</dd>
            </dl>
        </div>
        <ul class="list-group machine-detail" ng-if="vm.expanded">
            <li class="list-group-item" ng-repeat="u in vm.model.units">
                <ll-unit model="u"></ll-unit>
            </li>
        </ul>
        <div class="panel-footer" ng-if="vm.model.units.length>0">
            <a class="expand-toggle" ng-click="vm.onExpandToggle()">
                Show {{vm.expanded ? 'less' : 'more'}} <i class="fa fa-caret-{{vm.expanded ? 'up' : 'down'}}"></i>
            </a>
        </div>
    </div>
</div>
