@import "../../../../assets/less/overrides.less";

.ll-machine {
    .panel {
        margin: 0;
        &.summary-active {
            border-color: @label-success-bg;
            & > .panel-heading {
                background-color: @label-success-bg;
                border-color: @label-success-bg;
                & > .badge {
                    color: @label-success-bg;
                }
            }
        }
        &.summary-mixed {
            border-color: @label-warning-bg;
            & > .panel-heading {
                background-color: @label-warning-bg;
                border-color: @label-warning-bg;
                & > .badge {
                    color: @label-warning-bg;
                }
            }
        }
        &.summary-inactive {
            border-color: @label-danger-bg;
            & > .panel-heading {
                background-color: @label-danger-bg;
                border-color: @label-danger-bg;
                & > .badge {
                    color: @label-danger-bg;
                }
            }
        }
        & > .panel-heading {
            &:hover {
                cursor: move;
            }
            & > a {
                color: @panel-default-text;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        & > .machine-meta {
            dl {
                margin-bottom: 0;
                & > dt {
                    width: auto;
                }
                & > dd {
                    margin-left: 100px;
                }
            }
        }
        & > .machine-detail {
            & > .list-group-item {
                &:nth-of-type(even) {
                    background-color: @table-bg-hover;
                }
            }
        }
        & > .panel-footer {
            .expand-toggle {
                display: block;
                text-align: center;
            }
        }
    }
    &.expanded {
        .panel {
        }
    }
}
