<div class="ll-machine">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i ng-class="vm.indicatorsSvc.getMachineIconClass(vm.model)"></i>
            {{vm.model.IPAddress}}
            <span class="pull-right badge">{{vm.model.units.length}}</span>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt ng-repeat-start="kv in vm.model.meta_dict">{{kv.key}}</dt>
                <dd ng-repeat-end>{{kv.value}}</dd>
            </dl>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="u in vm.model.units">
                <ll-unit model="u"></ll-unit>
                <!--<i ng-class="vm.indicatorsSvc.getUnitIconClass(u)"></i> {{u.Unit | llUnitName}}-->
                <!--<ll-unit-status model="u"></ll-unit-status>-->
            </li>
        </ul>
    </div>
</div>
