<div class="ll-machine">
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="{{vm.model | llMachineIconClass}}"></i>
            {{vm.model.primaryIP}}
            <span class="pull-right badge">{{vm.model.units.length}}</span>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt ng-repeat-start="(k, v) in vm.model.metadata">{{k}}</dt>
                <dd ng-repeat-end>{{v}}</dd>
            </dl>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="u in vm.model.units">
                <ll-unit model="u"></ll-unit>
            </li>
        </ul>
    </div>
</div>
