.ll-unitFile-detail {
    &.modal-header {
        .header {
            display: inline-flex;
            width: 100%;
            h3 {
                align-self: center;
                margin: 15px 0;
            }
            .status {
                align-self: center;
                margin-left: 30px;
                .label {
                    font-size: 120%;
                }
            }
        }
        .close {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    &.modal-body {
        .toolbar {
            margin-bottom: 15px;
            width: 100%;
            .btn-group {
                margin-right: 15px;
            }
        }
        .table {
            cursor: text;
            font-family: 'Consolas', monospace;
            tbody {
                tr {
                    td:first-child {
                        width: 25%;
                    }
                }
            }
        }
    }
}
