@import "../../../../assets/theme/variables.less";

.ll-unit {
    display: inline-flex;
    height: 26px;
    justify-content: space-between;
    width: 100%;
    & > .unit-label {
        flex: 0 0 40%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & > * {
        align-self: center;
    }
}
