.ll-unit-file-modal {
    .modal-header {
        h3 {
            margin: 0;
        }
        .close {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
}
