@import "../../../../assets/theme/variables.less";

.ll-unit {
    & > div {
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: @padding-base-vertical;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
        .ll-unit-status {
        }
    }
}
