<div class="modal-header">
    <a class="close" ng-click="vm.onCloseClick()"><i class="fa fa-close"></i></a>
    <h1 class="modal-title">
        {{::vm.model.name | llUnitName}}
        <span class="label label-{{vm.current | llUnitFileStatusClass}}">{{vm.current.currentState || 'multiple'}}</span>
    </h1>
</div>
<div class="modal-header">
    <ll-unit-file-control model="vm.current" editing="vm.editing" on-edit-click="vm.onEditClick()"
                          on-save-click="vm.onSaveClick()" on-cancel-click="vm.onCancelClick()"></ll-unit-file-control>
</div>
<div class="modal-body">
    <div class="wrapper">
        <tabset class="tabs-left">
            <tab select="vm.current=vm.model" disable="vm.editing">
                <tab-heading tooltip="Service" tooltip-placement="right"><i class="{{vm.model | llUnitFileIconClass}}"></i></tab-heading>
                <ll-unit-file-contents model="vm.model" editing="vm.editing"></ll-unit-file-contents>
            </tab>
            <tab ng-if="vm.timerModel" select="vm.current=vm.timerModel" disable="vm.editing">
                <tab-heading tooltip="Timer" tooltip-placement="right"><i class="{{vm.timerModel | llUnitFileIconClass}}"></i></tab-heading>
                <ll-unit-file-contents model="vm.timerModel" editing="vm.editing"></ll-unit-file-contents>
            </tab>
        </tabset>
    </div>
</div>
