@import "../../../../assets/less/overrides.less";

.ll-unit-file-modal {
    .modal-header {
        .modal-title {
            margin: 0;
            .label {
                font-size: 60%;
                margin-left: 15px;
                vertical-align: middle;
            }
        }
        .close {
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    .modal-body {
        .wrapper {
            .tabs-left {
                & > .nav-tabs {
                    margin-right: 0;
                    & > li > a {
                        min-width: 33px;
                    }
                }
                .tab-content {
                    border-left: 1px solid @nav-tabs-border-color;
                    margin-left: 43px;
                    padding: 0 10px;
                    .ll-unit-file-contents {
                        min-height: 400px;
                    }
                }
            }
        }
    }
}
