<div class="ll-unit">
    <div>
        <div>
            <i ng-class="vm.indicatorsSvc.getUnitIconClass(vm.model)"></i>
            {{vm.model.Unit | llUnitName}}
        </div>
        <ll-unit-status model="vm.model"></ll-unit-status>
    </div>
    <div ng-if="vm.model.timers">
        <div>
            <i ng-class="vm.indicatorsSvc.getUnitIconClass(vm.model.timers[0])"></i>
            {{vm.model.timers[0].Unit | llUnitName}}
        </div>
        <ll-unit-status model="vm.model.timers[0]"></ll-unit-status>
    </div>
    <div ng-if="!vm.model.timers">
        <small>(No timer)</small>
    </div>
</div>
