@import "../../../bower_components/bootstrap/less/variables.less";

@brand-primary: #f1606d;
@brand-secondary: #53a3da;
@brand-primary-light: lighten(@brand-primary, 20%);

@link-color: @brand-secondary;
@component-active-bg: @brand-primary;

@table-bg-hover: @brand-primary-light;
